/* AllSongs.module.css */
.AllSongsContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .AllSongsContainer h3 {
    margin: 5px 0;
    font-size: 1.5em;
  }
  
  .AllSongsContainer p {
    margin: 5px 0;
    color: #888;
    font-size: 1em;
  }
  
  .AllSongsContainer audio {
    width: 100%;
    margin-top: 20px;
  }

  .songImage{
    width: 100px;
    height: 100px;
    object-fit: fill;
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 2px;
  }
  .songPlaying {
    animation: musicImageRotate 10s linear infinite;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid black;
  }

  @keyframes musicImageRotate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  