/* Buttons Container */
.buttonsContainer{
    height: 43%;
    display: flex;
    position: relative;
}

.roller{
    width: 70%;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: white;
}

.btn{
    height: 2rem;
}

img{
    height: 100%;
    color: #D9D9D8;
}

.menu{
    font-size: larger;
    color: #9b9b9c;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 2rem;
    position: absolute;
    left: 38%;
    top: 8%;
}

.innerBtn{
    position: absolute;
    height: 41%;
    width: 41%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(184, 180, 180);
    border-radius: 50%;
}

.prev{
    height: 2rem;
    position: absolute;
    top: 43%;
    left: 8%;
}

.next{
    height: 2rem;
    position: absolute;
    top: 43%;
    right: 8%;
}

.play{
    height: 2rem;
    position: absolute;
    bottom:8%;
    left: 44%;
}